<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>WEATHER FORECAST</title>
</head>
<body>
    <style>

        body{background-image: url('weather.jpg'); background-repeat: no-repeat;background-size: cover; color: antiquewhite;}
       </style>
       <h1 style="text-align: center " ; style="color: blue";> Weather Forecast </h1>
       <div style = "margin:auto;width:50%;text-align:center">
       <h1>{{w_name}}</h1>
       <h1>{{w_state}}</h1>
       <h1>{{w_country}}</h1>
       <h1>{{w_temp}}</h1>
       <h1>{{w_condition}}</h1>
       </div>
</body>
</html>